<h2>Create new Celebreties</h2>

<form method="POST">
    <input type="text" placeholder="Name of Person" name="name" />
    <input type="text" placeholder="occupation of Perosn" name="occupation" />
    <input type="text" placeholder="catchPhrase of Person" name="catchPhrase" />
    <button type="submit">Send</button>
  </form>